<% title "Activities" %>

<table>
  <tr>
    <th>Content</th>
    <th>Collaborator</th>
    <th>Task</th>
  </tr>
  <% for activity in @activities %>
    <tr>
      <td><%= activity.content %></td>
      <td><%= activity.collaborator %></td>
      <td><%= activity.task %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Activity", new_activity_path %></p>
